input[type="file"] {
    display: none;
}

.options {
    position: absolute;
    top:1%;
    bottom: 95.5%;
    left:1%;
    width: 98%;
    display: flex;
    flex-direction: row;
    gap: .71%;
}

.option_buttons {
    width: 90%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline-color: #b3562e;
    outline-width: 4px;
    outline-style: outset;
}

.option_buttons:hover {
    cursor: pointer;
}

.option_buttons:onpressdown {
    outline-style: inset;
}

.ide {
    display: flex;
    flex-direction: column;
}

.console {
    position: absolute;
    top: 74.5%;
    bottom: 1%;
    left: 1%;
    right: 1%;
    outline-color: #b3562e;
    outline-width: 4px;
    outline-style: inset;
    background-color: #523015;
    padding-top: 3px;
    padding-left: .5%;
    padding-right: .5%;
    display: flex;
    flex-direction: column;
}

.console__display {
    width: 100%;
    height: 99%;
    padding-top: .1%;
    padding-bottom: .1%;
    resize: none;
}

.editor {
    position: absolute;
    left: 1%;
    top: 6%;
    right: 50.35%;
    bottom: 27%;
    outline-color: #b3562e;
    outline-width: 4px;
    outline-style: inset;
    background-color: #523015;
    display: flex;
    flex-direction: column; 
}

.editor__buttons {
    display: flex;
    font-size: 11px;
    padding-top: .6%;
    padding-left: 1%;
    padding-right: 1%;
}

.upload__button {
    width: auto;
    height: 19.7px;
    padding: 1%;
    padding-top: .8%;
    margin-top: .6px;
    margin-left: .7px;
    background-color: #efefef;
    font-family: sans-serif;
    color: black;
    outline: .25px solid #767676;
}

#load:hover, #save:hover, #select:hover {
    cursor: pointer;
    background-color: lightgrey;
}
.upload__button:hover {
    cursor: pointer;
    background-color: lightgrey;
    outline: 2px outset #666666;
    outline-offset: -1px;
    box-shadow: 0 0 0 0;
}

.editor__text {
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: .7%;
    border: 1px thin black;
    height: 96%;
}

.editor__text__line-numbers {
    font-weight: bolder;
    text-align: right;
    overflow:hidden;
    word-wrap: normal;
    width: 7%;
    height: 100%;
    background-color:lightgray;
    border: 1px solid black;
    resize: none;
}

.editor__text__code-area {
    width: 91%;
    height: 100%;
    resize: none;
    border: 1px solid black;
    overflow-wrap:normal;
    background-color:whitesmoke;
}

.machine {
    position: absolute;
    top: 56%;
    left: 50.35%;
    right: 1%;
    bottom: 27%;
    background-color: #523015;
    outline-color: #b3562e;
    outline-width: 4px;
    outline-style: inset;
    padding: .3%;
}

#state_diagram {
	position: absolute;
	top: 6%;
    left: 50.35%;
    right: 1%;
    bottom: 27%;
    border: 1px solid black;
    background-color: lightgray;
    /*border-bottom: 3px dotted #b3562e;
    height: 45%;
    width: 100%;*/
}

.tape_view {
    height: 47%;
    /*border: 1px solid black;
    border-top: none;
    background-color: gray;
    */
}

.machine_buttons {
    padding-top: .1%;
    gap: .3%;
    height: 30px;
}
#selection_list
{
    position: absolute;
    transition-duration: 0.35s;
    max-height: 50%;
    width: 300px;
    overflow-y: auto;
    left: 190px;
    top: 10px;
}

#selection_list lh
{
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: #b3562e;
    text-align: center;
    user-select: none;
}

#selection_list li
{
    float: left;
    list-style: none;
    text-decoration: none;
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: black;
    text-align: center;
    user-select: none;
}

#selection_list li:hover
{
    cursor: pointer;
    background-color: grey;
}
