* {
    box-sizing: border-box;
}

body
{
	font-family: DejaVu Sans Mono;
	font-size: 14pt;
	color: #f0eeec;
	background-color: #454545;
}

ul
{
	padding: 0;
}

a:link, a:visited
{
  color: white;
  text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

.wrapper
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
}

.main-wrapper
{
	position: absolute;
	width: 75%;
	min-width: 1080px;
	max-width: 1920px;
	height: 100%;
	max-height: 1080px;
	min-height: 734px;
	top: 0;
	left: 50%;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
}

.main
{
	position: absolute;
	width: 100%;
	height: 80%;
	min-height: 600px;
	max-width: 1920px;
	max-height: 1080px;
	background-color: #784d2c;
	outline-color: #b3562e;
	outline-width: 4px;
	outline-style: outset;
}

.navigation ul
{
	list-style-type: none;
	display: inline;
	position: absolute;
	right: 0px;
	top: 0px;
}

.navigation ul li
{
	display: inline-block;
	padding: 5px;
	padding-left: 15px; padding-right: 15px;
	height: 30px;
	margin-top: 5px; margin-left: 10px;
	text-decoration: none;
	color: white;
	background-color: #784d2c;
	outline-color: #b3562e;
	outline-width: 4px;
	outline-style: outset;
}

.navigation ul li:hover
{
	text-decoration: underline;
}

.documentation
{
	position: absolute;
	width: 1080px;
	margin-top: 60px;
	left: 56%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.documentation a:hover
{
	text-decoration: underline;
}

.documentation a
{
	float: left;
	width: 305px;
	height: 100px;
	padding-top: 40px;
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	color: white;
	background-color: #523015;
	outline-color: #b3562e;
	outline-width: 4px;
	outline-style: inset;
}

#reports-container
{
	float: left;
	width: 33.3%;
	min-width: 350px;
	max-width: 500px;
	height: 241.8px;
	display: block;
	padding-top: 20px;
	margin-bottom: 30px;
	/*background-color: #b3562e;*/
	text-align: center;
}

#reports-container ul
{
	margin-top: -4px;
	text-decoration: none;
	list-style-type: none;
}

#gantt-chart
{
	position: relative;
	width: 100%;
	height: 100%;
}

#gantt-chart iframe
{
	width: 100%;
	height: 94%;
	min-height: 565px;
	max-width: 1920px;
	max-height: 1035px;
}

#gantt-chart a
{
	width: 100%;
	text-align: center;
}

.bottom-bar
{
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 5px;
	background-color: #784d2c;
	outline-color: #b3562e;
	outline-width: 4px;
	outline-style: outset;
}

.read-head
{
	width: 0;
	height: 0;
	margin: 0;
	position: absolute;
	top: 26%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-left: 25px ridge transparent;
	border-right: 25px ridge transparent;
	border-top: 10px ridge red;
}

.read-head-indicator
{
	margin: 0;
	position: absolute;
	top: 13%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: auto;
	max-width: 100%;
	height: 35px;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	background-color: black;
	border-style: groove;
	border-width: 6px;
	border-color: grey;
}

/*github, update this stuff*/
.t-machine
{
	width: 100%;
	height: 100%;
	/*background-color: white;*/
	margin: 0;
	position: relative;
	padding-left: 2px;
}

.tape
{
	width: 100%;
	height: 75px;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 50.02%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: nowrap;
	overflow: hidden;
	display: table;
}

.tape-cell
{
	position: absolute;
	width: 11.11%;
	height: 75px;
	border-style: groove;
	border-width: 7px;
	border-color: grey;
}

.cell-contents
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.speedSelectorBounds
{
	position: absolute;
	width: 100%;
	color: black;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#speedSelector
{
	direction: rtl;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#slowLabel, #fastLabel
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: white;
}

#slowLabel
{
	left: 31%;
}

#fastLabel
{
	left: 69%;
}

#currentSpeedContainer
{
	color: white;
	transform: translate(31%, 75%);
	-ms-transform: translate(50%, 70%);
}

#currentSpeed
{
	transform: translate(30%, -100%);
	-ms-transform: translate(-50%, -50%);
}

.about-description
{
	width: 94%;
	height: auto;
	padding: 10px;
	background-color: #523015;
	outline-color: #b3562e;
	outline-width: 4px;
	outline-style: inset;
}

.profiles-wrapper
{
	position: absolute;
	width: 94%;
	height: auto;
	top: 55%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.profile
{
	float: left;
	width: 32%;
	height: auto;
	background-color: #523015;
	outline-color: #b3562e;
	outline-width: 4px;
	outline-style: inset;
	text-align: center;
}

.tutorial-wrapper
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 60%;
	display: none;
}

.tool-tip
{
	position: absolute;
	width: 100%;
	height: 40%;
	background-color: black;
	opacity: 99%;
}